<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CurrencyConvertorClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CurrencyConvertorClient.Properties.Settings>
            <setting name="CurrencyConvertorClient_net_webservicex_www_CurrencyConvertor"
                serializeAs="String">
                <value>http://www.webservicex.net/CurrencyConvertor.asmx</value>
            </setting>
            <setting name="CurrencyConvertorClient_WebReference_ExService"
                serializeAs="String">
                <value>http://bzu.cloud:8080/ExProj/services/ExServiceSOAP</value>
            </setting>
            <setting name="CurrencyConvertorClient_cloud_bzu_ExService" serializeAs="String">
                <value>http://bzu.cloud:8080/ExProj/services/ExServiceSOAP</value>
            </setting>
        </CurrencyConvertorClient.Properties.Settings>
    </applicationSettings>
</configuration>